<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dieter.Properties.Settings.DieterDBConnectionString"
            connectionString="Data Source=(LocalDB)\LocalDBApp2;AttachDbFilename=|DataDirectory|\DieterDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="dieter.Properties.Settings.DieterDBConnectionPath"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\VisualStudio\Projekty\widowapp\dieter\dieter\DieterDB.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>